* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    
}

@media (min-width: 768px) {
    .container {
        max-width: 700px !important;
    }
}

@media (max-width: 576px) {

    .container {
        max-width: 300px !important;
        margin: 2.125rem auto 2.125rem auto !important; 
    }
    .flex-inner li {
        width: 118px !important;
        margin-bottom: 0.5em;
    }

    .title {
        font-size: 36px !important;
    }

    .description {
        font-size: 12px !important;
    }

    .btn {
        padding: 10px 40px !important;
        margin: 0px !important;
    }
    #finish-container {
        margin-bottom: 400px;
        height: 320px !important;
    }
}

body {
    background-image: linear-gradient(
      225deg,
      #27d86c 0%,
      #26caf8 50%,
      #c625d0 100%
    );

}

.container {
    width: 100%;
    margin: 3.125rem auto 3.125rem auto;
}

#title {
    text-align: center;
    
}

#form {
    margin: 1.75rem auto 0 auto;
}

.form-field {
    margin-bottom: 30px;
}

#form-container {
    background-color: #1e6075;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
}

#finish-container {
    height: 240px;
    background-color: #fff;
    margin-bottom: 700px;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 2rem;
}


.description {
    font-size: 14px;
}

.title {
    font-size: 45px;
    color: #FFFFFF;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.form-label {
    margin-bottom: 0.5em;
    display: flex;
    font-weight: 700;
    text-shadow: 0.5px 1px 2px #474747;
}

.success-svg {
    width:100%;
    height: 90px;
    margin-top: 5px;
}

.success-title {
    color: #000;
    text-align: center;
    margin-top: 40px;
}


input[type=text],
select,
input[type=textarea],
input[type=number] {
    display: block;
    width: 100%;
    height: 1.875rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    color: #000;
}

.stack-option,
.tech-option {
    margin-right: 0.625rem;

}

.label-stack {
    display: block;
    margin-bottom: 0.5em;
}


.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1 0 220px;
    justify-content: space-between;
    list-style: none;
}

.flex-inner li {
    width: 160px;
    margin-bottom: 0.5em;
}

.required{
    color: rgb(255, 0, 0);
}

.container-button {
   display: flex;
    align-items: center;
    justify-content: center;
  }

.buttons {
  display: flex;
  flex-direction: column;
}

.btn {
  text-decoration: none;
  padding: 20px 50px;
  font-size: 1.25rem;
  position: relative;
  margin: 20px;
}

.btn-3 {
  overflow: hidden;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 0;
}

.btn-3::after {
  content: "";
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50px;
  left: -100px;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #27d86c 0%,
    #26caf8 50%,
    #c625d0 100%
  );
  z-index: -1;
  transition: transform 0.5s ease;
}

.btn-3:hover {
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.5),
    -10px 10px 25px 0 rgba(39, 200, 255, 0.5);
}

.btn-3:hover::after {
  transform: rotate(150deg);
}
